name: Windows Build

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Ninja
        run: |
          choco install ninja
      - name: Set up Clang
        uses: egor-tensin/setup-clang@v2
        with:
          version: latest 
          platform: x64

      - name: Configure CMake
        run: |
          cmake -B build -G "Ninja" -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_BUILD_TYPE=Release
      - name: Build
        run: cmake --build build --config Release
      - name: Publish Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/autotiler.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}